{% extends "base.html" %}
{% block title %}Products{% endblock %}
{% load static %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create_product' %}">Создать продукт</a>
    </li>
{% endblock %}
{% block content %}
    {% include 'partial/simple_search.html' %}
    <h1>Продукты</h1>
    {% for product in  products %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <a href="{% url "detail_view" product.pk %}" style="text-decoration: none;color: red"><h5
                        class="card-title">{{ product.name_product }}</h5></a>
                <p class="card-text">{{ product.price }}</p>
                <p class="card-text">{{ product.get_category_display }}</p>
            </div>
        </div>
        <br>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}

