{% extends "base.html" %}
{% block title %} Детальный просмотр{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'create_product' %}">Создать продукт</a>
    </li>
{% endblock %}
{% block content %}
    <br>
    <div class="card text-center">
        <div class="card-header">
            Категория: {{ product.get_status_display }}
        </div>
        <div class="card-body">
            <h5 class="card-title"> Имя: {{ product.name_product|upper }}</h5>
            <p class="card-title"> Категория:{{ product.get_category_display }}</p>
            <p class="card-text"> Описание: {{ product.descr_product }}</p>
            <p class="card-text"> Цена: {{ product.price }}</p>
            <p class="card-text"> Остаток: {{ product.remainder }}</p>
            <a href="{% url 'delete_product' product.pk %}" class="btn btn-primary">Удалить</a>
            <a href="{% url 'update_product' product.pk %}" class="btn btn-primary">Редактировать</a>
            <a href="{% url 'index' %}" class="btn btn-primary">Назад</a>
        </div>
    </div>
{% endblock %}

