{% extends "base.html" %}
{% block title %}Products{% endblock %}
{% load static %}
{% block nav %}
{% endblock %}
{% block content %}

    <div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Название:</th>
                <th scope="col">Цена:</th>
                <th scope="col">Количество:</th>
                <th scope="col">Сумма:</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.name_product }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product_sum }}</td>
                    <th scope="row">
                        <form action="{% url 'webapp:cart_delete' item.product_id %}" method="POST">
                            {% csrf_token %}
                            <a>
                                <button class="btn btn-danger" type="submit">Удалить</button>
                            </a>
                        </form>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Итого:</td>
                <th scope="row">{{ total }}</th>
            </tr>
            </tfoot>
        </table>

        <a href="{% url 'webapp:index' %}" class="btn btn-primary">Назад</a>
        <br>
        <br>
        <h1>Оформить заказ</h1>
        <form action="{% url "webapp:order_create" %}" method="post">
            {% include 'partial/form.html' with button_text="Оформить" %}
        </form>
    </div>

{% endblock %}